*.bak
*.desktop
*.pdf
*.psd
.DS_Store
.remote-sync.json
bower_components
Icon
node_modules
package-lock.json
test
tests
Thumbs.db
.idea/

Resources/Public/Templates/.htaccess
Build/Templates/Videos/*
