  #aktuelles{
    .container{
      background:$color-blue-light;
      text-align:center;
      .titleAK{
        font-size: $font-size-default-mobile;
        font-family:$font-family-base;
        color:$color-blue-text;

        @media (min-width: $screen-md-min) {
          font-size: $font-size-extralarge;
        }
      }
    }
  }