#logos-block{
  #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        //display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      &:hover{
         /*background: rgba(0, 0, 0, 0.9);*/
      }
  }



























  .container{
    background:$color-white;
    .logos {
      padding-top: 28px;
      margin:auto;
      @media (min-width: $screen-sm-min) {
        padding-top: 33px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        width:100%;
        margin-bottom: -15;

      }

      figure {
        margin: 0;
      }
      .logo {
        flex-basis: 33.333%;
        text-align: center;
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;

        margin-bottom: 11px;
        transform: scale(0.65);
        transform-origin: left;
        @media (min-width: $screen-md-min) {
          padding-left: $grid-gutter-width / 2;
          padding-right: $grid-gutter-width / 2;

          margin-bottom: 25px;
          transform: none;
        }

        /* In case 3 logos on the last line */
        &:nth-child(3n + 2) {
          @media (min-width: $screen-md-min) {
            text-align: center;
          }
        }





        /* In case 1 logo on the last line */
        &.last-logo {
          @media (min-width: $screen-md-min) {
            text-align: center;
          }
        }
      }
      .logo-holder {
        display: inline-block;
      }
    }
  }

}
