.news {
    position: relative;
    padding-top: 16px;
    padding-bottom: 20px;
    display: none;
    @media (min-width: $screen-md-min) {
        padding-top: 4px;
        padding-bottom: 21px;
        margin-bottom: 11px;
    }
    .title_news{
        font-size:$font-size-large-b;
        color:red;
        margin-bottom: 12px;
    }

        h2{
            &.title_news{
                font-size:$font-size-large-b;
                color:red;
                margin-bottom: 12px;
            }

        }
        h3 {
            font-size:$font-size-large-b;
            color:red;
            margin-bottom: 18px;
        }


    h4 {
        margin-bottom: 18px;
    }
    h3{
        &.title{
            margin-bottom: 12px;
        }

    }


    .description {
        margin-top: 18px;
        padding-right: 6px;
        margin-bottom: 19px;
        @media (min-width: $screen-md-min) {
            margin-top: 0;
            padding-right: 0;
        }
        p {
            margin-bottom: 5px;
            @media (min-width: $screen-md-min) {
                margin-bottom: 8px;
            }
        }
    }
    .more-news {
        text-align: center;
        @media (min-width: $screen-md-min) {
            text-align: left;
        }
        .btn {
            padding: 7px 37px;
            @media (min-width: $screen-md-min) {
                padding: 7px 31px;
            }
        }
    }

    &.bg-blue {
        background-color: $color-light-blue;
        padding-bottom: 20px;

        @media (min-width: $screen-md-min) {
            padding-bottom: 21px;
            padding-top: 21px;
            margin-bottom: 26px;
        }
    }

    .infos-news {
        @media (min-width: $screen-md-min) {
            display: flex;
        }

        img{

        }
        .left-side{

        }
        .right-side {
            @media (min-width: $screen-md-min) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
        }
    }
}
.news-single{
    img{
        margin-bottom: 10px;
        @media (min-width: $screen-md-min) {
            max-width: 60%;
        }
    }
}

.news a#loadMore {
    background: $color-dark-blue;
    color: $color-white;
}
