.news {
    position: relative;
    padding-top: 16px;
    padding-bottom: 20px;
    display: none;
    @media (min-width: $screen-md-min) {
        padding-top: 4px;
        padding-bottom: 21px;
        margin-bottom: 11px;
    }
    .title_news{
        font-size:$font-size-large-b;
        color:red;
        margin-bottom: 12px;
    }


