#platzhalter{
  .container{
           background:$color-white;
           text-align:center;
          .title2{
            margin:40px 0px 40px 0px;
            font-size: $font-size-default-mobile;
            font-family:$font-family-base;
            color:$color-blue-text;
            @media (min-width: $screen-md-min) {
              font-size: $font-size-extralarge;
            }
          }
          .row{
              .block-quality{
                  .title-block{
                    margin-bottom:20px;
                    color:$color-blue-text;
                    font-size:$font-size-larger;
                    font-family:$font-family-base;
                  }
                  ul{
                    li{
                      color:$color-black;
                      font-family:$font-family-base;
                      font-size: $font-size-default-mobile;
                      text-align: start;
                      list-style: none;
                      &:before {
                        content: "\25a0";
                        font-size:$font-size-extra-small2;
                        vertical-align:middle;
                        color:$color-blue-text;
                        padding-right: 2px;
                      }
                      @media (min-width: $screen-md-min) {
                      font-size: $font-size-medium;
                      }
                    }
                  }

              }
          }
   }
}