#footer{
  background:red;
  .container-fluid{
    background:$color-grey;
    .container{

      .block_footer{
        ul{
          li {
            color: $color-white;
            font-family: $font-family-base;
            font-size: $font-size-default-mobile;
            text-align: start;
            line-height: 19px;
            list-style: none;
            @media (min-width: $screen-md-min) {
              font-size: $font-size-medium-bis;
            }
            .marg{
              margin-bottom:20px;
            }
          }
        }

      }
    }
  }
}
