#header{
    /*position: fixed;*/
    top:0;
    width: 100%;
    z-index: $z-index-top;
    background-color: $color-white;
    /*Band top */
    .head-top{
        background-color: $color-grey;
        display:none;
        .container{
            .row{
                .header-top-cols {
                    /**************search part*********************/
                    .search-form {
                        position: relative;
                        width: 13%;
                        form {
                            display: flex;
                            align-items: center;
                            margin-bottom: 0;
                        }
                        span {
                            position: absolute;
                            top: 3px;
                            left: -23px;
                            &:after{
                                content: "";
                                background: url("../Img/icon-search.png") 50% 50% no-repeat;
                                position: absolute;
                                background-size: cover;
                                width: 19px;
                                height: 20px;
                            }
                            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                                margin-top: 0;
                            }
                        }
                        input {
                            outline: none;
                            border: 1px solid transparent;
                            background: transparent;
                            font-family: $font-family-base;
                            color: $color-white;
                            &::placeholder {
                                opacity: 1;
                                color: $color-white;
                                font-size:$font-size-medium-bis;
                                font-family:$font-family-base;
                            }
                            &.opened {
                                border-color: $color-grey;
                                width: 70%;
                            }
                            &:focus {
                                &::placeholder {
                                    opacity: 0;
                                }
                            }
                            @media (min-width: $screen-md-min) {
                                &.opened {
                                    width: 120px;
                                }
                                &:focus {
                                    width: 120px;
                                }
                            }
                        }
                    }
                    /**********************************************/


                }
                .menu-top-right{
                    text-align: right;
                    color: $color-white;
                    font-size:$font-size-medium-bis;
                    font-family:$font-family-base;
                    top: 2px;

                    .tel{

                        &:before{
                            content: "";
                            background: url("../Img/icon_tel.png") 50% 50% no-repeat;
                            position: absolute;
                            background-size: cover;
                            width: 19px;
                            height: 19px;
                            top: 3px;
                            left: 2px;

                        }
                    }


                }
            }
        }
        /***display head-top part***/
        @media (min-width: $screen-md-min) {
            display:block;
        }


    }


    /******logo********/
    .logo {
        float: left;
        a{
            .logo-a {
                margin: 0;
                margin-top: 5px;
                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .menu{
        .menu-nav {
            main-navigation{
                background:red;
            }


        }
    }

}







