#header{
    /*position: fixed;*/
    top:0;
    width: 100%;
    z-index: $z-index-top;
    background-color: $color-white;
    /*Band top */
    .head-top{
        background-color: $background-head;
    }


    /******logo********/
    .logo {
        float: left;
        a{
            .logo-a {
                margin: 0;
                margin-top: 5px;
                padding: 0;
                max-width: 75%;
                white-space: nowrap;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: contain;
            }
            img {
                width: 174px;
                max-width: 100%;
                @media (max-width: $screen-sm-max) {
                    width: 60%;
                }
            }
        }
    }
    .menu{
        h2 {
            float: right;
        }
    }
}
