.meta-nav {
    text-align: right;
    display: none;
    @media (min-width: $screen-md-min) {
        padding-top: 16px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;

    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li {
            padding-bottom: 30px;
            position: relative;
            cursor: pointer;
            padding-left: 30px;
            @media (min-width: $screen-md-min) {
                display: inline-block;
                padding-bottom: 0;
                margin-left: 20px;
                padding-left: 0;
                &:hover {
                    a,p {
                        color: $color-dark-blue;
                    }
                }
            }
            &.active {
                a,p {
                    color: $color-dark-blue;
                }
            }
            a {
                display: flex;
                align-items: center;
                color: $color-dark-grey;
                font-weight: $font-weight-semi-bold;
                @media (min-width: $screen-md-min) {
                    font-size: $font-size-extra-small;
                    line-height: $line-height-extra-small;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
.search-form {
    position: relative;
    form {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    span {
        position: absolute;
        top: 6px;
        left: -17px;
        &:after{
            content: "";
            background: url("../Img/Icons/icon-search.svg") 50% 50% no-repeat;
            position: absolute;
            background-size: cover;
            width: 14px;
            height: 14px;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-top: 0;
        }
    }
    input {
        outline: none;
        border: 1px solid transparent;
        background: transparent;
        padding: 5px 16px;
        width: 70%;
        transition: all 0.2s ease-in-out;
        font-family: $font-family-base;
        @media (min-width: $screen-md-min) {
            font-size: $font-size-extra-small;
            line-height: $line-height-extra-small;
            font-weight: $font-weight-bold;
            padding: 5px;
        }
        &::placeholder {
            opacity: 1;
            color: $color-dark-grey;
            font-weight: $font-weight-bold;
        }
        &.opened {
            border-color: $color-dark-grey;
            width: 70%;
        }
        &:focus {
            border-color: $color-dark-grey;
            &::placeholder {
                opacity: 0;
            }
        }
        @media (min-width: $screen-md-min) {
            width: 50px;
            &.opened {
                width: 120px;
            }
            &:focus {
                width: 120px;
            }
        }
    }
}
