/*Buttons body */
.btn{
  margin-top:20px;
  display: inline-block;
  color: $color-white;
  background:$color-green;
  padding: 1.5px 10px;
  font-size: $font-size-default-mobile;
  letter-spacing: 1.12px;
  font-family: $font-family-bold;
  text-align: center;
  @media (min-width: $screen-md-min) {
    font-size: $font-size-large;
  }
}

.ce-button {
  text-align: center;
  margin-bottom: 35px;

  @at-root .col-sm-10.col-md-offset-2 & {
    text-align: left;
  }
}