/* ------------------------------------
1. Colors by name
------------------------------------ */


/* ------------------------------------
2. Colors by type
------------------------------------ */
// $link-color:
// $text-color:

/* ------------------------------------
3. Colors by x
------------------------------------ */
// ...
$background-body:#edf6f1;
$color-grey : #878787;
$color-white : #FFFFFF;
$color-blue:#4b82bd;
$color-blue-hover:#4c83bf;
$color-blue-text:#4a9eb2;
$color-black:#000000;
$color-green:#a1c617;