/* ------------------------------------
1. Colors by name
------------------------------------ */


/* ------------------------------------
2. Colors by type
------------------------------------ */
// $link-color:
// $text-color:

/* ------------------------------------
3. Colors by x
------------------------------------ */
// ...
$color-white : #FFFFFF;
$background-head : #878787;
$background-footer:#878787;
