

/* font-weight */
$font-weight-normal: 300;
$font-weight-bold: 700;


$font-style-italic: italic;

/* Font family */
$font-family-base: "SourceSansPro-Regular";
$font-family-bold: "SourceSansPro-Bold";



/* ------------------------------------
  -Desktop Font sizes
 ------------------------------------ */
$font-size-largest:                 36px;
$font-size-extralarge:              33px;
$font-size-larger:                  26px;
$font-size-large-b:                 22px;
$font-size-large:                   20px;
$font-size-medium-b:                19px;
$font-size-medium:                  18px;
$font-size-medium-bis:              16px;
$font-size-default:                 14px;
$font-size-small:                   13px;
$font-size-extra-small:             12px;
$font-size-extraa-small:            11px;

$font-size-extra-small2:            8px;


/* ------------------------------------
  -Mobile Font sizes
 ------------------------------------ */
$font-size-404-mobile:              65px;
$font-size-largest-mobile:          25px;
$font-size-extralarge-mobile:       18px;
$font-size-x-larger-mobile:         16px;
$font-size-larger-mobile:           15px;
$font-size-large-mobile:            14px;
$font-size-medium-mobile:           13px;
$font-size-default-mobile:          12px;
$font-size-small-mobile:            11px;
$font-size-smaller-mobile:          10px;
$font-size-extra-small-mobile:       9px;

/* font-weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* Button paddings */


/* transform scale */



