/* Breakpoints */
$screen-sm:  680px;
$screen-md:  1200px;
$screen-lg:  1600px;
$screen-xl: 2080px;

$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

/* font-weight */
$font-weight-normal: 300;
$font-weight-bold: 700;


$font-style-italic: italic;

/* Font family */
$font-family-base: "SourceSansPro-Regular";


/* ------------------------------------
  -Desktop Font sizes
 ------------------------------------ */
$font-size-largest:                 36px;
$font-size-extralarge:              33px;
$font-size-larger:                  24px;
$font-size-large:                   22px;
$font-size-medium:                  16px;
$font-size-medium-bis:              15px;
$font-size-default:                 14px;
$font-size-small:                   13px;
$font-size-extra-small:             12px;


/* Button paddings */


/* transform scale */



