/* Breakpoints */
$screen-sm:  680px;
$screen-md:  1200px;
$screen-lg:  1600px;
$screen-xl: 2080px;

$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

/* font-weight */
$font-weight-normal: 300;
$font-weight-bold: 700;


$font-style-italic: italic;

/* Font family */
$font-family-base: "SourceSansPro-Regular";
$font-family-bold: "SourceSansPro-Bold";



/* ------------------------------------
  -Desktop Font sizes
 ------------------------------------ */
$font-size-largest:                 36px;
$font-size-extralarge:              33px;
$font-size-larger:                  26px;
$font-size-large:                   20px;
$font-size-medium:                  16px;
$font-size-medium-bis:              15px;
$font-size-default:                 14px;
$font-size-small:                   13px;
$font-size-extra-small:             12px;

/* ------------------------------------
  -Mobile Font sizes
 ------------------------------------ */
$font-size-404-mobile:              65px;
$font-size-largest-mobile:          25px;
$font-size-extralarge-mobile:       18px;
$font-size-x-larger-mobile:         16px;
$font-size-larger-mobile:           15px;
$font-size-large-mobile:            14px;
$font-size-medium-mobile:           13px;
$font-size-default-mobile:          12px;
$font-size-small-mobile:            11px;
$font-size-smaller-mobile:          10px;
$font-size-extra-small-mobile:       9px;



/* Button paddings */


/* transform scale */



